<?xml version="1.0" encoding="utf-8"?>
<ArrayOfRuningNumber xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RuningNumber>
    <numberSaved>1000050</numberSaved>
    <typeOfnumber>Product Running Number</typeOfnumber>
  </RuningNumber>
  <RuningNumber>
    <numberSaved>1108</numberSaved>
    <typeOfnumber>Order Running Number</typeOfnumber>
  </RuningNumber>
  <RuningNumber>
    <numberSaved>10187</numberSaved>
    <typeOfnumber>OrderItem Running Number</typeOfnumber>
  </RuningNumber>
</ArrayOfRuningNumber>